@import '../../../style/global.css';

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-box-background {
  background: white;
  border-radius: var(--container-border-radius);
  margin: 0 15px 0 15px;
  box-shadow: var(--container-box-shadow);
}

.container-login-logo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.login-logo {
  width: 4.5rem;
  height: 4.5rem;
  margin: 0 8rem 1rem
}

.login-box-container {
  background: var(--gradient-linear-bottom);
  padding: 1rem 1.25rem 1rem 1.25rem;
  border-radius: var(--container-border-radius);
  font-weight: 300;
  font-size: var(--small-font-size);
}


.login-box {
  background: var(--light-gray);
  padding: 0.35rem 0.5rem 1.15rem;
  border-radius: var(--container-border-radius);
  box-shadow: var(--container-box-shadow);
}

.login-box span {
  color: var(--light-medium-gray);
}

.login-form-profile-icon {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.25rem;
}

.login-profile {
  width: 4.5rem;
  height: 4.5rem;
  margin: 0 7rem 1rem 7rem
}


.login-form {
  border: 0.5px solid var(--light-medium-gray);
  height: fit-content;

}

.login-form span {
  margin: 0.15rem 0.8rem;
  font-size: var(--small-font-size);
}

.login-form-welcome {
  display: flex;
  flex-direction: column;
  margin: 0.25rem;
  align-items: center;

}

.login-form-welcome div {
  align-items: center;
}

.login-form-welcome span {
  color: var(--dark-medium-gray);
  font-size: var(--primary-font-size);

}

.login-form input::placeholder {
  text-align: center;
}

.login-button {
  margin: 0 6.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login-forgot-password {
  margin: 0 5.25rem 1rem;
  align-items: center;
}

.login-forgot-password a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: #2A3DEA;
  font-weight: 400;

}

.login-new-user {
  margin: 1rem 5rem 1rem;
}

.login-new-user a {
  font-size: var(--small-font-size);
  color: #2A3DEA;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
}


input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 2px;
  margin: 14px 8px;
}

.button {
  width: 100%;
  padding: 0 1.95rem 0 1.95rem;
  background-color: var(--dark-gray);
  color: #fff;
  border: none;
  border-radius: var(--container-border-radius);
  cursor: pointer;
  text-decoration: none;
  font-size: var(--primary-font-size);
}

.button:hover {
  background-color: #A6FA7E;
  width: 100%;
}