@import "../../../../style/global.css";

.icon-container-waste-collector {
  display: flex;
  flex-direction: column;
  border-radius: var(--container-border-radius);
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-medium-gray);
  width: 9.5rem;
  margin: 0.15rem;
}




.icon-image-waste-collector {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.5rem;
}

.icon-title-waste-collector {
  font-size: var(--primary-font-size);
  font-weight: 400;
  color: var(--light-medium-gray);
}


.icon-text-description-waste-collector {
  font-size: var(--smaller-font-size);
  font-weight: 300;
  color: var(--light-medium-gray);
  margin: 0 0.5rem 0.5rem;
  height: 80px;
}

.icon-container-waste-collector:hover,
.icon-container-waste-collector:active {
  background-color: var(--primary-blue);
  cursor: pointer;
  box-shadow: var(--container-box-shadow);
  border: 1px solid var(--primary-blue);
}

.icon-container-waste-collector:hover .icon-title-waste-collector,
.icon-container-waste-collector:hover .icon-text-description-waste-collector {
  color: var(--quaternary-blue);
}

.icon-container-waste-collector.active {
  background-color: var(--primary-blue);
  cursor: pointer;
  box-shadow: var(--container-box-shadow);
  border: 1px solid var(--primary-blue);
}

.icon-container-waste-collector.active .icon-title-waste-collector,
.icon-container-waste-collector.active .icon-text-description-waste-collector {
  color: var(--quaternary-blue);
}


.icon-container-waste-producer {
  display: flex;
  flex-direction: column;
  border-radius: var(--container-border-radius);
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-medium-gray);
  width: 9.5rem;
  margin: 0.15rem;
}

.icon-container-waste-producer:hover {
  background-color: var(--primary-orange);
  cursor: pointer;
  box-shadow: var(--container-box-shadow);
  border: 1px solid var(--primary-orange);

}

.icon-container-waste-producer:hover .icon-title-waste-producer,
.icon-container-waste-producer:hover .icon-text-description-waste-producer {
  color: var(--quaternary-orange);
}


.icon-container-waste-producer.active {
  background-color: var(--primary-orange);
  cursor: pointer;
  box-shadow: var(--container-box-shadow);
  border: 1px solid var(--primary-orange);
}

.icon-container-waste-producer.active .icon-title-waste-producer,
.icon-container-waste-producer.active .icon-text-description-waste-producer {
  color: var(--quaternary-orange);
}



.icon-image-waste-producer {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.5rem;
}

.icon-title-waste-producer {
  font-size: var(--primary-font-size);
  font-weight: 400;
  color: var(--light-medium-gray);
}

.icon-text-description-waste-producer {
  font-size: var(--smaller-font-size);
  font-weight: 300;
  color: var(--light-medium-gray);
  margin: 0 0.5rem 0.5rem;
  height: 80px;
}